body {
  background-color: rgb(108, 225, 165);
}

.title {
  font-weight: 800;
  font-size: 50px;
  color: rgb(114, 8, 163);
}

.form {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  
}

.input {
  margin-bottom: 50px;
  padding: 20px;
  width: 500px;
  color: rgb(150, 127, 255);
  outline: none;
  border: 2px solid rgb(0, 255, 115);
}

.btn {
  background-color: rgb(101, 44, 148);
  padding: 20px;
  width: 543px;
  border: none;
  color: yellow;
  cursor: pointer;
}